################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConnectFourAI/.vs/ConnectFourAI
/ConnectFourAI/x64/Debug
/__pycache__
/ConnectFourAI/ConnectFourAI.vcxproj.user
